[user]
  name = Jacek Jackowiak
  email = EMAIL
[github]
  user = Airborn
  token = GITHUB_TOKEN
[core]
  autocrlf = input
  editor = subl -n -w
  excludesfile = ~/.gitignore_global
[alias]
  st = status
  sts = status -sb
  lol = log --all --graph --pretty=format:'%C(auto)%h% %d %s %C(bold blue)<%an>%C(reset) %C(green)(%cr)%C(reset)' --abbrev-commit --date=relative
[branch]
  autosetupmerge = true
[color]
  interactive = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  tool = meld
[merge]
  tool = meld
  defaultToUpstream = true
[difftool]
  prompt = false
[mergetool]
  prompt = false
  keepBackup = false
[push]
  default = simple
